<section id="project-review">
    <div class="container">
        <ul class="tabs">
            <div class="row">
                <div class="col-md-4 col-lg-2 text-center">
                    <li class="tab-link current" data-tab="tab-1">Наши проекты</li>
                </div>
                <div class="col-md-4 col-lg-2 text-center">
                    <li class="tab-link" data-tab="tab-2">Акции и скидки</li>
                </div>
                <div class="col-md-4 col-lg-2 text-center">
                    <li class="tab-link" data-tab="tab-3">Отзывы</li>
                </div>
            </div>
        </ul>
        <div class="row" id="my-tabs">
            <div id="tab-1" class="tab-content current">
                {% include 'profiler/projects.html.twig' %}
            </div>
            <div id="tab-2" class="tab-content">
                <h5>В данный момент нету акций и скидок.</h5>
            </div>
            <div id="tab-3" class="tab-content review">
                <div class="row">
                    {% for review in reviews %}
                        <div class="col-12 text-center">
                            <ul id="name" class="nav nav-justified">
                                <li class="nav-item name text-left">{{ review.name }}</li>
                                <li class="nav-item date text-right">{{ review.created }}</li>
                            </ul>
                            <p id="star" class="text-left">
                                {% for i in 1..review.star %}
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                {% endfor %}
                            </p>
                            <p id="geo" class="text-left">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>{{ review.idSalon.gorod }} {{ review.idSalon.tc }}</span>
                            </p>
                            <p id="info" class="text-left">
                        <span>
                            {{ review.message }}
                        </span>
                            </p>
                        </div>
                    {% endfor %}
                    <div class="col-12 text-center">
                        <button type="submit" data-toggle="modal" data-target="#review" class="btn btn-xl">Оставить отзыв</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>