<section id="salon-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-7 text-left">
                <div class="fotorama" data-width="100%" data-nav-inside="true">
                    {% for image in images %}
                        <img src="{{ asset(image) }}">
                    {% endfor %}
                </div>
                <div class="description">
                    <p class="working-hours"><b>График работы: </b>{{ salon.workingHours }}</p>
                    <p class="editable-address"><b>Адрес: </b>{{ salon.address }}</p>
                    <a class="phone" href="tel:+{{ salon.phone }}"><b>Телефон: </b>{{ salon.phone }}</a>
                </div>
                <div class="article">
                    <p>{{ salon.article|raw}}</p>
                </div>
            </div>
            <div class="col-12 col-xl-5 text-center">
                <div id="map"></div>
                <button class="btn btn-xl" data-toggle="modal" data-target="#contactmodal">Бесплатный дизайн-проект кухни</button>
            </div>
        </div>
    </div>
</section>