{% extends 'base.html.twig' %}
{% block map %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(function () {
            ymaps.modules.require(['Map', 'Placemark'])
                .spread(
                    function (Map) {
                        var myMap = new Map("map", {
                            center: [55.72, 37.64],
                            zoom: 5
                        });
                        {% for map in maps %}
                            BalloonContentLayout{{ loop.index0 }} = ymaps.templateLayoutFactory.createClass(
                                '<div style="margin: 10px;">' +
                                    '<b> {{ map.title }} </b><br />' +
                                '</div>'
                            );
                            myMap.geoObjects.add(
                                new ymaps.Placemark([{{ map.longitude }}, {{ map.latitude }}], {}, {
                                    balloonContentLayout: BalloonContentLayout{{ loop.index0 }},
                                    balloonPanelMaxMapArea: 0,
                                    iconLayout: 'default#image',
                                    iconImageHref: '/web/bundles/kuhni/img/map-marker.svg',
                                    iconImageOffset: [-3, -42],
                                    iconImageSize: [30, 42]
                                })
                            );
                        {% endfor %}
                    }
                );
        });
    </script>
{% endblock %}
{% block body %}
    {% block navigation %}
        {% include 'homepage/navigation.html.twig' %}
    {% endblock %}
    {% block header %}
        {% include 'homepage/header.html.twig' %}
        {% include 'homepage/section-ordercall.html.twig' %}
    {% endblock %}
    {% block content %}
        {% include 'homepage/section-images_section.html.twig' %}
        {% include 'homepage/section-catalog_home.html.twig' %}
        {% include 'freedesignshag.html.twig' %}
        {% include 'homepage/section-services.html.twig' %}
        {% include 'calc.html.twig' %}
        {% include 'article.html.twig' %}
        {% include 'reviews.html.twig' %}
        {% include 'homepage/section-map.html.twig' %}
        {% include 'homepage/section-contact.html.twig' %}
        {% include 'modal/modal-reviews.html.twig' %}
    {% endblock %}

    {% block modal %}
    {% endblock%}
{% endblock %}