<section class="images_section" id="slider_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">НАШИ ВЫГОДНЫЕ ПРЕДЛОЖЕНИЯ</h2>

            </div>
        </div>
    </div>
    <div class="featured_links" style="margin-top: -20px;">
        <div class="cols">
            <a class="cols_links">
                <span class="textcol">ДЕЙСТВУЮЩИЕ АКЦИИ</span>
                <span class="imagecol">
                <img class="no_hover" alt="Скидки" src="{{ asset('bundles/kuhni/img/images_section/discountblackico.svg') }}" />
                <img class="on_hover" alt="Скидки" src="{{ asset('bundles/kuhni/img/images_section/discountwhiteico.svg') }}" />
            </span>
            </a>
        </div>
        <div class="cols">
            <a class="cols_links">
                <span class="textcol">ДОПОЛНИТЕЛЬНЫЕ СКИДКИ</span>
                <span class="imagecol">
                <img class="no_hover" alt="sound" src="{{ asset('bundles/kuhni/img/images_section/discounsecondblackico.svg') }}" />
                <img class="on_hover" alt="sound" src="{{ asset('bundles/kuhni/img/images_section/discounsecondwhiteico.svg') }}" />
            </span>
            </a>
        </div>
        <div class="cols">
            <a class="cols_links">
                <span class="textcol">ДИЗАЙН БЕСПЛАТНО</span>
                <span class="imagecol">
                <img class="no_hover" alt="waterproof" src="{{ asset('bundles/kuhni/img/images_section/projectblackico.svg') }}" />
                <img class="on_hover" alt="waterproof" src="{{ asset('bundles/kuhni/img/images_section/projectwhiteico.svg') }}" />
            </span>
            </a>
        </div>
        <div class="cols">
            <a class="cols_links">
                <span class="textcol">ВЫГОДНОЕ ПРЕДЛОЖЕНИЕ</span>
                <span class="imagecol">
                <img class="no_hover" alt="industrutible_pink_ico" src="{{ asset('bundles/kuhni/img/images_section/pigblackico.svg') }}" />
                <img class="on_hover" alt="industrutible_pink_ico" src="{{ asset('bundles/kuhni/img/images_section/pigwhiteico.svg') }}" />
            </span>
            </a>
        </div>
        <div class="cols">
            <a class="cols_links">
                <span class="textcol">ХОРОШИЕ ПОДАРКИ</span>
                <span class="imagecol">
                <img class="no_hover" alt="partyup" src="{{ asset('bundles/kuhni/img/images_section/presentblackico.svg') }}" />
                <img class="on_hover" alt="partyup" src="{{ asset('bundles/kuhni/img/images_section/presentwhiteico.svg') }}" />
            </span>
            </a>
        </div>
        <div class="cols">
            <a class="cols_links">
                <span class="textcol">ОТСЛЕДИТЬ ЗАКАЗ</span>
                <span class="imagecol">
                <img class="no_hover" alt="waterproof" src="{{ asset('bundles/kuhni/img/images_section/guaranteeblackico.svg') }}" />
                <img class="on_hover" alt="waterproof" src="{{ asset('bundles/kuhni/img/images_section/guaranteewhiteico.svg') }}" />
            </span>
            </a>
        </div>
    </div>

    <div class="featured_links_banner">
        <div class="banner_col">
            <a href="{{ path('homepage') }}">
                <img alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-1.jpg') }}" />
                <img class="mob_banner" alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-1-mob.jpg') }}" />
            </a>
        </div>
        <div class="banner_col">
            <a href="{{ path('kuhni_parameters', {'slug' : 'massiv'}) }}">
                <img alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-2.jpg') }}" />
                <img class="mob_banner" alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-2-mob.jpg') }}" />
            </a>
        </div>
        <div class="banner_col">
            <a data-toggle="modal" data-target="#freedesignproject">
                <img alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-3.jpg') }}" />
                <img class="mob_banner" alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-3-mob.jpg') }}" />
            </a>
        </div>
        <div class="banner_col">
            <a data-toggle="modal" data-target="#costProject">
                <img alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-4.jpg') }}" />
                <img class="mob_banner" alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-4-mob.jpg') }}" />
            </a>
        </div>
        <div class="banner_col">
            <a href="{{ path('homepage') }}">
                <img alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-5.jpg') }}" />
                <img class="mob_banner" alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-5-mob.jpg') }}" />
            </a>
        </div>
        <div class="banner_col">
            <a href="{{ path('homepage') }}">
                <img alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-6.jpg') }}" />
                <img class="mob_banner" alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-6-mob.jpg') }}" />
            </a>
        </div>
    </div>
</section>