<section class="images_section" id="slider_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">НАШИ ВЫГОДНЫЕ ПРЕДЛОЖЕНИЯ</h2>

            </div>
        </div>
    </div>
    <div class="featured_links" style="margin-top: -20px;">
        <div class="cols">
            <a class="cols_links">
                <span class="textcol">ДЕЙСТВУЮЩИЕ АКЦИИ</span>
                <span class="imagecol">
                <img class="no_hover" alt="Скидки" src="{{ asset('bundles/kuhni/img/images_section/discountblackico.svg') }}" />
                <img class="on_hover" alt="Скидки" src="{{ asset('bundles/kuhni/img/images_section/discountwhiteico.svg') }}" />
            </span>
            </a>
        </div>
        <div class="cols">
            <a class="cols_links">
                <span class="textcol">ДОПОЛНИТЕЛЬНЫЕ СКИДКИ</span>
                <span class="imagecol">
                <img class="no_hover" alt="sound" src="{{ asset('bundles/kuhni/img/images_section/discounsecondblackico.svg') }}" />
                <img class="on_hover" alt="sound" src="{{ asset('bundles/kuhni/img/images_section/discounsecondwhiteico.svg') }}" />
            </span>
            </a>
        </div>
        <div class="cols">
            <a class="cols_links">
                <span class="textcol">ДИЗАЙН БЕСПЛАТНО</span>
                <span class="imagecol">
                <img class="no_hover" alt="waterproof" src="{{ asset('bundles/kuhni/img/images_section/projectblackico.svg') }}" />
                <img class="on_hover" alt="waterproof" src="{{ asset('bundles/kuhni/img/images_section/projectwhiteico.svg') }}" />
            </span>
            </a>
        </div>
        <div class="cols">
            <a class="cols_links">
                <span class="textcol">ВЫГОДНОЕ ПРЕДЛОЖЕНИЕ</span>
                <span class="imagecol">
                <img class="no_hover" alt="industrutible_pink_ico" src="{{ asset('bundles/kuhni/img/images_section/pigblackico.svg') }}" />
                <img class="on_hover" alt="industrutible_pink_ico" src="{{ asset('bundles/kuhni/img/images_section/pigwhiteico.svg') }}" />
            </span>
            </a>
        </div>
        <div class="cols">
            <a class="cols_links">
                <span class="textcol">ХОРОШИЕ ПОДАРКИ</span>
                <span class="imagecol">
                <img class="no_hover" alt="partyup" src="{{ asset('bundles/kuhni/img/images_section/presentblackico.svg') }}" />
                <img class="on_hover" alt="partyup" src="{{ asset('bundles/kuhni/img/images_section/presentwhiteico.svg') }}" />
            </span>
            </a>
        </div>
        <div class="cols">
            <a class="cols_links">
                <span class="textcol">ОТСЛЕДИТЬ ЗАКАЗ</span>
                <span class="imagecol">
                <img class="no_hover" alt="waterproof" src="{{ asset('bundles/kuhni/img/images_section/guaranteeblackico.svg') }}" />
                <img class="on_hover" alt="waterproof" src="{{ asset('bundles/kuhni/img/images_section/guaranteewhiteico.svg') }}" />
            </span>
            </a>
        </div>
    </div>

    <div class="featured_links_banner">
        <div class="banner_col">
            <a href="{{ path('homepage') }}">
                <img alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-1.jpg') }}" />
                <img class="mob_banner" alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-1-mob.jpg') }}" />
                <!--<div class="content black_color">
                    <div class="sub_title">— СКИДКИ —</div>
                    <div class="title">до 35%</div>
                    <p>Получите скидку до 35%, заказав кухню «ЗОВ» в наших фирменных салонах в городе Москва, до конца месяца.</p>
                    <a class="btn btn-xl" href="#">ПОДРОБНЕЕ</a>
                </div>-->
            </a>
        </div>
        <div class="banner_col">
            <a href="https://xn--b1ajv.xn--80adxhks/kuhni/massiv/">
                <img alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-2.jpg') }}" />
                <img class="mob_banner" alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-2-mob.jpg') }}" />
                <!--<div class="content black_color">
                    <div class="sub_title">— СКИДКА —</div>
                    <div class="title">ПЛЮС 5%</div>
                    <p>Получите дополнительную скидку в размере 5% на мебель для кухни «ЗОВ», при заказе комплекта бытовой техники.</p>
                    <a class="btn btn-xl" href="#">ПОДРОБНЕЕ</a>
                </div>-->
            </a>
        </div>
        <div class="banner_col">
            <a data-toggle="modal" data-target="#freedesignproject">
                <img alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-3.jpg') }}" />
                <img class="mob_banner" alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-3-mob.jpg') }}" />
                <!--<div class="content black_color">
                    <div class="sub_title">— БЕСПЛАТНО —</div>
                    <div class="title">ДИЗАЙН-ПРОЕКТ</div>
                    <p>Получите бесплатно три проекта Вашей будущей кухни от творческой команды дизайнеров фабрики «ЗОВ», обратившись в один из наших фирменных салонов.</p>
                    <a class="btn btn-xl" data-toggle="modal" data-target="#freedesignproject">ЗАКАЗАТЬ ПРОЕКТ</a>
                </div>-->
            </a>
        </div>
        <div class="banner_col">
            <a data-toggle="modal" data-target="#costProject">
                <img alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-4.jpg') }}" />
                <img class="mob_banner" alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-4-mob.jpg') }}" />
                <!--<div class="content black_color">
                    <div class="sub_title">— ЦЕНА —</div>
                    <div class="title">ПРИЯТНО УДИВИТ</div>
                    <p>Пришлите нам проект Вашей кухни — мы рассчитаем его в 5 различных комплектациях и озвучим наиболее выгодное предложение!</p>
                    <a class="btn btn-xl" data-toggle="modal" data-target="#costProject">РАССЧИТАТЬ</a>
                </div>-->
            </a>
        </div>
        <div class="banner_col">
            <a href="{{ path('homepage') }}">
                <img alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-5.jpg') }}" />
                <img class="mob_banner" alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-5-mob.jpg') }}" />
                <!--<div class="content white_color">
                    <div class="sub_title">— ПОДАРОК —</div>
                    <div class="title">КАЖДОМУ КЛИЕНТУ</div>
                    <p>При покупке кухни — наши консультанты подготовят для Вас индивидуальный подарок!</p>
                    <a class="btn btn-xl" href="#">ПОДРОБНЕЕ</a>
                </div>-->
            </a>
        </div>
        <div class="banner_col">
            <a href="{{ path('homepage') }}">
                <img alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-6.jpg') }}" />
                <img class="mob_banner" alt="featured_links_banner" src="{{ asset('bundles/kuhni/img/images_section/slide-6-mob.jpg') }}" />
                <!--<div class="content black_color">
                    <div class="sub_title">— ПЛЮС 1 ГОД —</div>
                    <div class="title">К ГАРАНТИИ</div>
                    <p>Получите дополнительно один год гарантии при заказе кухни до конца сезона!</p>
                    <a class="btn btn-xl" href="#">ПОДРОБНЕЕ</a>
                </div>-->
            </a>
        </div>
    </div>
</section>