<section id="ordercall">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-heading">Закажите обратный звонок</h2>
                <h3 class="section-subheading text-muted">Это бесплатно. Наш дизайнер свяжется с Вами в ближайшее время.</h3>
            </div>
            <div class="col-12">
                {{ form_start(formRequestCall, { 'action': path('requestcall'), 'method': 'POST', 'attr': {'class': 'ajaxForm', 'id': 'requestCallForm'} }) }}
                    {{ form_errors(formRequestCall) }}
                        <div class="form-row">
                            <div class="col-sm-12 col-md-12 col-lg-3 form-group">
                                {{ form_row(formRequestCall.name) }}
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-3 form-group">
                                {{ form_row(formRequestCall.phone) }}
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-3 form-group">
                                {{ form_row(formRequestCall.idSalon) }}
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2 form-group">
                                <button type="submit" style="width: 100%;" class="btn btn-xl">Заказать</button>
                            </div>
                        </div>
                    {{form_rest(formRequestCall)}}
                {{ form_end(formRequestCall) }}
            </div>
        </div>
    </div>
</section>