<section id="ordercall">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="section-heading">Закажите обратный звонок</h2>
                <h3 class="section-subheading text-muted">Это бесплатно. Наш дизайнер свяжется с Вами в ближайшее время.</h3>
            </div>
            <div class="col-lg-6">
                {{ form_start(formRequestCall, { 'action': path('requestcall'), 'method': 'POST', 'attr': {'class': 'ajaxForm'} }) }}
                    {{ form_errors(formRequestCall) }}
                        <div class="form-row">
                            <div class="col form-group">
                                {{ form_row(formRequestCall.name) }}
                            </div>
                            <div class="col form-group">
                                {{ form_row(formRequestCall.phone) }}
                            </div>
                        </div>
                        <div class="form-row text-center">
                            <div class="col form-group">
                                <button type="submit" class="btn btn-xl" style="width: 350px">Заказать</button>
                            </div>
                        </div>
                    {{form_rest(formRequestCall)}}
                {{ form_end(formRequestCall) }}
            </div>
        </div>
    </div>
</section>