<section class="images_section" id="slider_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">НАШИ ВЫГОДНЫЕ ПРЕДЛОЖЕНИЯ</h2>
            </div>
        </div>
    </div>
    <div class="featured_links" style="margin-top: -20px;">
        {% for slider in sliders %}
            <div class="cols">
                <a class="cols_links">
                    <span class="textcol">{{ slider.title }}</span>
                    <span class="imagecol">
                        <img class="no_hover" alt="waterproof" src="{{ asset('upload/sliderHome/' ~ slider.imageNameIconNoHover) }}" />
                        <img class="on_hover" alt="waterproof" src="{{ asset('upload/sliderHome/' ~ slider.imageNameIconOnHover) }}" />
                    </span>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="featured_links_banner">
        {% for slider in sliders %}
            <div class="banner_col">
                <a
                    {% if slider.modal %}
                        data-toggle="modal" data-target="#{{ slider.link }}"
                    {% else %}
                       href="{{ slider.link }}"
                   {% endif %}>
                    <img data-lazy="{{ asset('upload/sliderHome/' ~ slider.imageNameBannerPC) }}" alt="featured_links_banner"/>
                    <img data-lazy="{{ asset('upload/sliderHome/' ~ slider.imageNameBannerMobile) }}" alt="featured_links_banner" class="mob_banner"/>
                </a>
            </div>
        {% endfor %}
    </div>
</section>