<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" />
    <meta name="author" content="zovik.moscow">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>
        {% block title %}
            Кухни ЗОВ
        {% endblock %}
    </title>

    {% block stylesheets %}

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="{{ asset('bundles/kuhni/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/kuhni/css/bootstrap-grid.css') }}" rel="stylesheet" type="text/css">

        <link href="{{ asset('bundles/kuhni/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kuhni/slick/slick.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kuhni/slick/slick-theme.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kuhni/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kuhni/css/responsive.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kuhni/css/fotorama.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kuhni/css/main.css') }}">

    {% endblock %}
    {% block map %}
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        <script type="text/javascript">
            ymaps.ready(function () {
                ymaps.modules.require(['Map', 'Placemark'])
                    .spread(
                        function (Map) {
                            var myMap = new Map("map", {
                                center: [55.72, 37.64],
                                zoom: 9
                            });
                            {% for map in maps %}
                            BalloonContentLayout{{ loop.index0 }} = ymaps.templateLayoutFactory.createClass(
                                '<div style="margin: 10px;">' +
                                '<b> {{ map.title }} </b><br />' +
                                '</div>'
                            );
                            myMap.geoObjects.add(
                                new ymaps.Placemark([{{ map.longitude }}, {{ map.latitude }}], {}, {
                                    balloonContentLayout: BalloonContentLayout{{ loop.index0 }},
                                    balloonPanelMaxMapArea: 0,
                                    iconLayout: 'default#image',
                                    iconImageHref: '/web/bundles/kuhni/img/map-marker.svg',
                                    iconImageOffset: [-3, -42],
                                    iconImageSize: [30, 42]
                                })
                            );
                            {% endfor %}
                        }
                    );
            });
        </script>
    {% endblock %}
</head>

<body id="page-top" data-spy="scroll">
    {% block body %}
        {% block navigation %}{% endblock %}
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    {% endblock %}


    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock%}

    {% block modal %}
    {% endblock%}

    {% block modalForAll %}
        {% include 'modal/modal-requestcall.html.twig' %}
        {% include 'modal/modal-costproject.html.twig' %}
        {% include 'modal/modal-designerAtHome.html.twig' %}
        {% include 'modal/modal-freedesign.html.twig' %}
        {% include 'modal/modal-zayavkaRazmer.html.twig' %}
        {% include 'modal/modal-contact.html.twig' %}
    {% endblock%}

    {% block javascripts %}
        <script src="{{ asset('bundles/kuhni/js/device.js') }}"></script>
        <script src="{{ asset('bundles/kuhni/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/kuhni/js/masked_input_1.4-min.js') }}"></script>
        <script src="{{ asset('bundles/kuhni/js/popper.js') }}"></script>
        <script src="{{ asset('bundles/kuhni/js/bootstrap.js') }}"></script>

        <script src="{{ asset('bundles/kuhni/js/jqBootstrapValidation.js') }}"></script>
        <script src="{{ asset('bundles/kuhni/js/jquery.easing.js') }}"></script>
        <script src="{{ asset('bundles/kuhni/js/contact_me.js') }}"></script>

        <script src="{{ asset('bundles/kuhni/js/agency.js') }}"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>

        <script src="{{ asset('bundles/kuhni/slick/slick.js') }}" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                //promo
                //$('section#promo').css('height', document.documentElement.clientHeight);
                //slick slider for popular and completed projects
                $('.popular-slick').slick({
                    slidesToShow: 4,
                    slidesToScroll: 2,
                    autoplay: false,
                    autoplaySpeed: 4000,
                    dots: false,
                    responsive: [
                        {
                            breakpoint: 1200,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3
                            }
                        },
                        {
                            breakpoint: 768,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                });

                if (device.mobile() || device.tablet()){
                    $('.popular-slick .slide-col .pos-bot-l').css('width', $('.popular-slick .slide-col').width());
                    $('.popular-slick .slide-col .pos-bot-r').css('margin-left', $('.popular-slick .slide-col').width() - 50 );
                    $('.popular-slick .slide-col .phone').css('margin-left', $('.popular-slick .slide-col').width() - 50 );
                }
                //Ограничение количества символов в отвызывах
                var rev = $('.review-span-text');
                for (i = 0; i < rev.length; i++){
                    rev.eq(i).text(rev.eq(i).text().slice(0, 198));
                }

                //Если салон находиться в Москве, то дописываем к нему что-то
                //Преобразование select>option в div, ul>li
                $('select').each(function(){
                    var $this = $(this), numberOfOptions = $(this).children('option').length;

                    $this.addClass('select-hidden');
                    $this.wrap('<div class="select form-control"></div>');
                    $this.after('<div class="select-styled"></div>');

                    var $styledSelect = $this.next('div.select-styled');
                    var newText = $this.children('option').eq(0).text();
                    var pos = newText.indexOf('|');
                    var vsePristavki = [
                        'аллея',
                        'бульвар',
                        'вал',
                        'взвоз',
                        'въезд',
                        'дорога',
                        'заезд',
                        'кольцо',
                        'линия',
                        'луч',
                        'магистраль',
                        'набережная',
                        'переулок',
                        'перспектива',
                        'площадь',
                        'проезд',
                        'проспект',
                        'разъезд',
                        'спуск',
                        'съезд',
                        'территория',
                        'тракт',
                        'тупик',
                        'ул.',
                        'шоссе'
                    ];
                    var pos2;
                    for (i=0; i<vsePristavki.length; i++){
                        pos2 = newText.indexOf(vsePristavki[i]);
                        if (pos2 !== -1){
                            pos2 = newText.indexOf(vsePristavki[i]) - pos;
                            break;
                        }
                    }
                    $styledSelect.text(newText.substr(pos + 1, pos2-2));

                    var $list = $('<ul />', {
                        'class': 'form-control select-options'
                    }).insertAfter($styledSelect);

                    for (i = 0; i < numberOfOptions ; i++){
                        var text = $this.children('option').eq(i).text();
                        var pos = text.indexOf('|');
                        var stantion = text.substr(0, pos);
                        for (j=0; j<vsePristavki.length; j++){
                            var pos2 = text.indexOf(vsePristavki[j]);
                            if (pos2 !== -1){
                                pos2 = pos2 - pos;
                                console.log('pos2 = '+ pos2);
                                break;
                            }
                        }
                        var tc = text.substr(pos + 1, pos2-2);
                        var address = text.substr(pos + pos2);
                        console.log(text + ' pos= ' + pos + ' stantion ' + stantion);
                        console.log(' pos2= ' + pos2+ ' tc ' + tc + ' address= ' + address);

                        if ($this.children('option').eq(i).attr('class') === 'metro'){
                            var color = $this.children('option').eq(i).attr('id');
                            $('<li />', {
                                html: '<p><span class="span-metro"><img src="{{ asset("/web/bundles/kuhni/img/metro-ico.png") }}" alt="metro"></span>'
                                +'<span class="station" style="background-color: ' + color +';">' +
                                stantion +
                                '</span>' +
                                '<span class="tc">' +
                                tc +
                                '</span></p>' +
                                '<p><span class="span-address">' +
                                address +
                                '</span></p>',
                                rel: $this.children('option').eq(i).val(),
                                content: tc
                            }).appendTo($list);
                        }else{
                            $('<li />', {
                                html: '<p><span class="nometro-first-span">' + stantion + '</span>' +
                                '<span class="tc">' + tc + '</span></p>' +
                                '<p><span class="span-address">' + address + '</span></p>',
                                rel: $this.children('option').eq(i).val(),
                                content: tc
                            }).appendTo($list);
                        }
                    }

                    var $listItems = $list.children('li');

                    $styledSelect.click(function(e) {
                        e.stopPropagation();
                        $('div.select-styled.active').each(function(){
                            $(this).removeClass('active').next('ul.select-options').hide();
                        });
                        $(this).toggleClass('active').next('ul.select-options').toggle();
                    });
                    $list.hide();

                    $listItems.click(function(e) {
                        e.stopPropagation();
                        $styledSelect.text($(this).attr('content')).removeClass('active');
                        $this.val($(this).attr('rel'));
                        $list.hide();
                    });

                    $(document).click(function() {
                        $styledSelect.removeClass('active');
                        $list.hide();
                    });
                });

                //Пошаговая форма
                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    if ($(e.target).parent().hasClass('disabled')){
                        return false;
                    }
                });
                $(".next-step").click(function (e) {
                    var $active = $('#freedesignshag .nav-tabs li>a.active');
                    $active.parent().next().removeClass('disabled');
                    $($active).parent().next().find('a[data-toggle="tab"]').click();
                });
                $(".prev-step").click(function (e) {
                    var $active = $('#freedesignshag .nav-tabs li>a.active');
                    $($active).parent().prev().find('a[data-toggle="tab"]').click();
                });
                // Конец пошаговой формы

                $('ul.tabs li').click(function(){
                    var tab_id = $(this).attr('data-tab');

                    $('ul.tabs li').removeClass('current');
                    $('.tab-content').removeClass('current');

                    $(this).addClass('current');
                    $("#"+tab_id).addClass('current');
                });
                var forms = $('form');
                for (i = 0; i < forms.length; i++){
                    var phone = $('#form_phone');
                    var name = 'form_phone'+i;
                    phone.attr('id', name);
                    MaskedInput({
                        elm: document.getElementById(name),
                        format: '+7 ___ ___-__-__',
                        separator: '+7 '
                    });
                }
                if(!device.tablet() && !device.mobile()){
                    $('.navbar-nav').find('.nav-item').last().html('<a class="nav-link" href="#requestcall" data-toggle="modal"><i class="mutted-item">Позвонить<br></i>+7 (987) 522-55-22</a>');
                    $('#requestcall').on('show');
                }
            });
        </script>
        <script src="{{ asset('bundles/kuhni/js/slick-slider.js') }}"></script>
        <script src="{{ asset('bundles/kuhni/js/fotorama.js') }}"></script>
        <script src="{{ asset('bundles/kuhni/js/ajax.js') }}"></script>
    {% endblock %}
    {% block ajax %}
    {% endblock%}
</body>
</html>
