<section id="freedesignshag">
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs fade" role="tablist">
                <li role="presentation" class="nav-item">
                    <a href="#step1" class="nav-link active" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1" data-original-title="ШАГ 1: Сперва выберите стиль кухни."></a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#step2" class="nav-link" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2" data-original-title="ШАГ 2: Укажите интересующую вас форму кухни"></a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#step3" class="nav-link" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3" data-original-title="ШАГ 3: Укажите ваши контакты"></a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3>ЗАКАЖИТЕ БЕСПЛАТНЫЙ ДИЗАЙН-ПРОЕКТ</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_start(formFreeDesignShag, { "action": path("freedesignshag"), "method": "POST", "attr": {"class": "ajaxForm", "id": "freedesignshag"} }) }}
                {{ form_errors(formFreeDesignShag) }}
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <h5 class="text-center">ШАГ 1 - Определите интересующий вас стиль кухни</h5>
                            <div class="row text-center">
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <label>
                                        <input name="kitchen-style" type="radio" value="Классические" checked="checked">
                                        <span class="check-circle">
                                            <img src="{{ asset('/web/upload/kuhni/style/kitchenstyle-klassicheskie.jpg')}}">
                                        </span>
                                        <p>Классические</p>
                                    </label>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <label>
                                        <input name="kitchen-style" type="radio" value="kantri">
                                        <span class="check-circle">
                                            <img src="{{ asset('/web/upload/kuhni/style/kitchenstyle-kantri.jpg')}}">
                                        </span>
                                        <p>Кантри</p>
                                    </label>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <label>
                                        <input name="kitchen-style" type="radio" value="modern">
                                        <span class="check-circle">
                                            <img src="{{ asset('/web/upload/kuhni/style/kitchenstyle-modern.jpg')}}">
                                        </span>
                                        <p>Модерн</p>
                                    </label>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <label>
                                        <input name="kitchen-style" type="radio" value="ХЗ">
                                        <span class="check-circle">
                                            <img src="{{ asset('/web/upload/kuhni/style/kitchenstyle-retro.jpg')}}">
                                        </span>
                                        <p>Пока не знаю</p>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <ul class="list-inline pull-xs-right">
                                        <li class="list-inline-item">
                                            <button type="button" class="btn btn-xl next-step">Далее</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step2">
                            <div class="step2">
                                <h5 class="text-center">ШАГ 2 — Укажите желаемую форму кухонного гарнитура</h5>
                                <div class="row text-center">
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <label>
                                            <input name="kitchen-config" type="radio" value="kitchentype_pobraznye" checked="checked">
                                            <span class="check-circle">
                                                <img src="{{ asset('/web/upload/kuhni/config/kitchentype_pobraznye.svg')}}">
                                            </span>
                                            <p>П образная</p>
                                        </label>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <label>
                                            <input name="kitchen-config" type="radio" value="kitchentype_gostinaya">
                                            <span class="check-circle">
                                                <img src="{{ asset('/web/upload/kuhni/config/kitchentype_gostinaya.svg')}}">
                                            </span>
                                            <p>Гостиная</p>
                                        </label>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <label>
                                            <input name="kitchen-config" type="radio" value="kitchentype_stolovaya">
                                            <span class="check-circle">
                                                <img src="{{ asset('/web/upload/kuhni/config/kitchentype_stolovaya.svg')}}">
                                            </span>
                                            <p>Столовая</p>
                                        </label>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <label>
                                            <input name="kitchen-config" type="radio" value="kitchentype_small">
                                            <span class="check-circle">
                                                <img src="{{ asset('/web/upload/kuhni/config/kitchentype_small.svg')}}">
                                            </span>
                                            <p>Пока не знаю</p>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <ul class="list-inline pull-xs-right">
                                        <li class="list-inline-item">
                                            <button type="button" class="btn btn-xl prev-step ">
                                                Назад
                                            </button>
                                            <button type="button" class="btn btn-xl next-step">
                                                Далее
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step3">
                            <div class="step3">
                                <h5 class="text-center">ШАГ 3 — Укажите желаемую форму кухонного гарнитура</h5>
                                <div class="row">
                                    <div class="col-6 text-center">
                                        <div class="form-group">
                                            {{ form_row(formFreeDesignShag.name) }}
                                        </div>
                                    </div>
                                    <div class="col-6 text-center">
                                        <div class="form-group">
                                            {{ form_row(formFreeDesignShag.phone) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-center">
                                        <div class="form-group">
                                            {{ form_row(formFreeDesignShag.email) }}
                                        </div>
                                    </div>
                                    <div class="col-6 text-center">
                                        <div class="form-group">
                                            {{ form_row(formFreeDesignShag.idSalon) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <div class="form-group">
                                            <input type="checkbox" name="privacy-politycs" id="privacy-politycs" data-required="true" value="согласен с политикой конфиденциальности"> Прочитал и согласен с <a target="_blank" href="http://kitchens/web/app_dev.php/privacy.php">политикой конфиденциальности</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <ul class="list-inline pull-xs-right">
                                        <li class="list-inline-item">
                                            <button type="button" class="btn btn-xl prev-step ">
                                                Назад
                                            </button>
                                            <button type="submit" class="btn btn-xl next-step">
                                                Отправить
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ form_rest(formFreeDesignShag)}}
                {{ form_end(formFreeDesignShag) }}
            </div>
        </div>
    </div>
</section>