<div class="modal fade" id="requestcall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Закажите обратный звонок</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ form_start(formRequestCallModal, { 'action': path('requestcall'), 'method': 'POST', 'attr': {'class': 'ajaxForm', 'id': 'requestCallForm'} }) }}
            {{ form_errors(formRequestCallModal) }}
                <div class="modal-body">
                    <div class="form-group">
                        {{ form_row(formRequestCallModal.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(formRequestCallModal.phone) }}
                    </div>
                    <div class="col form-group">Прочитал и согласен с <a href="#">политикой конфиденциальности</a></div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-xl">Заказать</button>
                </div>
            {{ form_rest(formRequestCallModal) }}
            {{ form_end(formRequestCallModal) }}
        </div>
    </div>
</div>