<section id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>ОТЗЫВЫ НАШИХ КЛИЕНТОВ</h3>
                <i>
                    <p>Узнайте мнение наших клиентов
                        <a href="#"> посмотреть все отзывы</a>
                    </p>
                </i>
            </div>
        </div>
        <div class="row">
            {% for review in reviews %}
                <div class="col-12 col-md-3 text-center">
                    <ul id="name" class="nav nav-justified">
                        <li class="nav-item name text-left">{{ review.name }}</li>
                        <li class="nav-item date text-right">{{ review.created }}</li>
                    </ul>
                    <p id="star" class="text-left">
                        {% for i in 1..review.star %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                        {% endfor %}
                    </p>
                    <p id="geo" class="text-left">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>{{ review.idSalon.gorod }} {{ review.idSalon.tc }}</span>
                    </p>
                    <p id="info" class="text-left">
                        <span class="review-span-text">
                            {{ review.message }}
                        </span>
                        <span class="more-info">читать полностью</span>
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button type="submit" data-toggle="modal" data-target="#review" class="btn btn-xl">Оставить отзыв</button>
            </div>
        </div>
    </div>
</section>