<div class="modal fade" id="designerAtHome" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Заявка на бесплатный дизайн-проект</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ form_start(formDesignerAtHome, { "action": path("designerathome"), "method": "POST", "attr": {"class": "ajaxForm", "id": "ZayavkaRazmer"} }) }}
            {{ form_errors(formDesignerAtHome) }}
                <div class="modal-body">
                    <div class="form-group">
                        {{ form_row(formDesignerAtHome.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(formDesignerAtHome.phone) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(formDesignerAtHome.message) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(formDesignerAtHome.idSalon) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="form-group">
                            <input type="checkbox" name="privacy-politycs" id="privacy-politycs" data-required="true" value="согласен с политикой конфиденциальности"> Прочитал и согласен с <a target="_blank" href="{{ path('privacy') }}">политикой конфиденциальности</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-xl">Отправить заявку</button>
                </div>
            {{ form_rest(formDesignerAtHome)}}
            {{ form_end(formDesignerAtHome) }}
        </div>
    </div>
</div>