<div class="modal fade" id="requestcall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Закажите обратный звонок</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ form_start(formRequestCallModal, { 'action': path('requestcall'), 'method': 'POST', 'attr': {'class': 'ajaxForm', 'id': 'requestCallFormModal'} }) }}
            {{ form_errors(formRequestCallModal) }}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 form-group">
                            {{ form_row(formRequestCallModal.name) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            {{ form_row(formRequestCallModal.phone) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            {{ form_row(formRequestCallModal.idSalon) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="form-group">
                                <input type="checkbox" name="privacy-politycs" id="privacy-politycs" data-required="true" value="согласен с политикой конфиденциальности"> Прочитал и согласен с <a target="_blank" href="{{ path('privacy') }}">политикой конфиденциальности</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-xl">Заказать</button>
                </div>
            {{ form_rest(formRequestCallModal) }}
            {{ form_end(formRequestCallModal) }}
        </div>
    </div>
</div>