<section id="desc-fasade">
    <div class="container">
        <ul class="tabs">
            <div class="row">
                <div class="col-6 text-center">
                    <li class="tab-link current" data-tab="tab-1">Описание</li>
                </div>
                <div class="col-6 text-center">
                    <li class="tab-link" data-tab="tab-2">Фасады</li>
                </div>
            </div>
        </ul>
        <div class="row">
            <div id="tab-1" class="tab-content current">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Название характеристики</th>
                            <th>Характеристика</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Размер</th>
                            <td>{{ kitchen.razmer }}</td>
                        </tr>
                        <tr>
                            <th>Название фасада</th>
                            <td>{{ kitchen.nameFasad }}</td>
                        </tr>
                        <tr>
                            <th>Материал фасада</th>
                            <td>{{ kitchen.matFasad }}</td>
                        </tr>
                        <tr>
                            <th>Столешница</th>
                            <td>{{ kitchen.stoleshnica }}</td>
                        </tr>
                        <tr>
                            <th>Корпус</th>
                            <td>{{ kitchen.korpus }}</td>
                        </tr>
                        <tr>
                            <th>Фурнитура</th>
                            <td>{{ kitchen.furnitura }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="tab-2" class="tab-content fasad">
                <div class="col-12">
                    <div class="title">
                        Возможные варианты цветового исполнения фасадов кухни
                        <span>
                            {{ material[0].title }}
                        </span>
                    </div>
                    <div class="images-fasad">
                        {% for fasad in fasadesColor %}
                            <img src="{{ asset(imageFasadesColor[loop.index0]) }}" alt="{{ fasad.alt }}" title="{{ fasad.title }}">
                        {% endfor %}
                    </div>
                    <div class="title">
                        Возможные типы фасадов кухни
                        <span>
                            {{ material[0].title }}
                        </span>
                    </div>
                    <div class="images-fasad">
                        {% for fasad in fasadesType %}
                            <img src="{{ asset(imageFasadesType[loop.index0]) }}" alt="{{ fasad.alt }}" title="{{ fasad.title }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>