{% extends 'ZovZakaz/index.html.twig' %}
{% block form %}
    {{ form_start(searchForm, { 'action': path('trackCheck'), 'method': 'GET' }) }}
    {{ form_errors(searchForm) }}
    <div class="row">
        <div class="col-10 text-center">
            <div class="form-group">
                {{ form_row(searchForm.number) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 text-center">
            <div class="form-group">
                {{ form_row(searchForm.date) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 text-center">
            <div class="form-group">
                {{ form_row(searchForm.idSalon) }}
            </div>
        </div>
    </div>
    <div class="modal-footer" style="justify-content: center;">
        <button type="submit" class="btn btn-xl">Поиск</button>
    </div>
    {{ form_rest(searchForm) }}
    {{ form_end(searchForm) }}
{% endblock %}