<section id="popular">
    <div class="container heading">
        <h2 class="section-heading">Смотрите Популярные кухни</h2>
    </div>
    <div class="container">
        <div class="popular-slick">
            {% for popular in populars %}
                <div class="slide-col">
                    <a href="{{ path('kuhni_product', {'slug' : slug, 'nameproduct' : popular.slug}) }}" >
                        <img class="slide-product-img" src="{{ asset( popularImage[loop.index0] ) }}" alt="{{ popular.keywords }}" title="{{ popular.title }}">
                        <span class="pos-bot-l">
                            <ul class="nav">
                                <li class="left">
                                    <div class="text-left">
                                        <span class="first-name"><b>{{ popular.title }}</b></span>
                                    </div>
                                </li>
                                <li class="right">
                                    <div class="text-right right">
                                        {% set price = (popular.price * kurs.setting * nds.setting * coef.setting)|round %}
                                        {% set noDiscountPrice = (((price * popular.discount)/100 + price)|round)|number_format(0, ' ', ' ') %}
                                        <span class="text-right now-price">сейчас от {{ price|number_format(0, ' ', ' ') }}<i class='fa fa-rub' aria-hidden='true'></i></span><br/>
                                        <span class="text-right last-price">старая цена
                                            <span class="through">{{ noDiscountPrice }}<i class='fa fa-rub' aria-hidden='true'></i></span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </span>
                        {% if popular.discount != 0 %}
                            <span class="pos-bot-r desc text-center">
                                <span class="title"><b>{{ popular.discount }}%</b></span>
                                <span>скидка</span>
                            </span>
                        {% endif %}
                    </a>
                    <button type="button" class="phone text-center" data-toggle="modal" data-target="#requestcall">
                        <i class="fa fa-phone"></i>
                    </button>
                    <button type="button" id="like" data-id="{{ popular.id }}" class="like text-center">
                        <i class="fa fa-heart"></i>
                        <span class="countLikes">
                            {{ popular.likes }}
                        </span>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
</section>